.article-clean {
  color:#56585b;
  background-color:#fff;
  font-family:'Lora', serif;
  font-size:14px;
}

.intro {
  margin-bottom: 50px;
}

.comment-field {
  width: 50%;
  margin-bottom: 10px;
}

.comment-list {
  margin-bottom: 50px;
}
